@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui;
    scroll-behavior: smooth;
  
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    
    font-family: 'Mate SC', serif;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color:seashell;
    text-transform: uppercase;
}
nav ul{
    float: right;

}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
color: #db3131;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
padding: 0px 32px;
}
nav ul li a:hover{
color: #111;
}
/* .banner
{
   
    background: url(new.jpg);
   background-size: cover;
    

} */
.box{
  position: relative;
  top:120px;
}
h1{
  font-size: 50px;
  color:#db3131;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;

}
h1:hover{
  text-decoration: underline;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color:rgb(255, 255, 255);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgb(255, 255, 255);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #db3131;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: rgb(5, 3, 3);
  border-bottom: solid 1px rgb(230, 218, 218); 
}
.arrow{
  
  position: fixed;
  right: 50px;
  top: 300px;
  font-size: 65px;
  color: rgba(221, 30, 30, 0.815);
  cursor: pointer;
  z-index: 1000;
  
} 
.arrow:hover{
  background: rgb(236, 175, 175);
  border-radius: 150px;
}

.request_icon{
  position: fixed;
  left: 30px;
  bottom:20px;
  font-size: 21px;
  color: white;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  background-color: #db3131;
  width:270px;
  height:60px;
  text-align: center;
  padding-top: 6px;
}
.request_icon a{
  color:white;
  text-decoration:none;
}
.request_icon a:hover{
  text-decoration: underline;
 
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 15px;
  font-family: arial;
  color: rgb(41, 163, 219);
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: rgb(197, 47, 47);
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


.medical{
  position: fixed;
  left: 30px;
  top: 30px;
  font-size: 80px;
  color: rgb(22, 25, 29);
  cursor: pointer;
  z-index: 1000;
  
}
