@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui;
    scroll-behavior: smooth;
    background-color: #f8b8ce;
    
   }


nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    
    font-family: 'Mate SC', serif;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color:seashell;
    text-transform: uppercase;
}
nav ul{
    float: right;

}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
color: #db3131;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
padding: 0px 32px;
}
nav ul li a:hover{
color: #111;
}
body{  
  display: flex;
}
h1{
    position: relative;
    top: 120px;
    left:40%;
    font-weight: 500;
    font-size: 50px;
    color:#bb1717;
}
h1:hover{
    text-decoration: underline;
}

.col-lg-12{
    position:relative;
    top: 80px;
   
}
.medical{
    position: fixed;
    left: 30px;
    top: 30px;
    font-size: 80px;
    color: rgb(22, 25, 29);
    cursor: pointer;
    z-index: 1000;
    
}

.quiz-container{
    top:300px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
    left:16%;
  }
  .quiz-header{
    padding: 4rem;
  }
  h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
  }
  
   
  ul{
    list-style-type: none;
    padding: 0;
  }
  ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  ul li label{
    cursor: pointer;
  }
  button{
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }
  button:hover{
    background-color: #60a1aa;
  }
  button:focus{
    outline: none;
    background-color: rgb(192, 84, 84);
  }
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    color: rgb(48, 172, 10);
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: rgb(8, 211, 116);
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }