@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui;
    scroll-behavior: smooth;
   
   
}

nav{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
    
    font-family: 'Mate SC', serif;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color:seashell;
    /* text-transform: lowercase; */
}
nav ul{
    float: right;

}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
color: #db3131;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;
padding: 0px 32px;
}
nav ul li a:hover{
color: #111;
}
.medical{
    position: fixed;
    left: 30px;
    top: 30px;
    font-size: 80px;
    color: rgb(22, 25, 29);
    cursor: pointer;
    z-index: 1000;
    
}
.banner
{
   
    background: url(new2.png);
    background-size: cover;
    

}
.box{
    position: relative;
    top: 90px;  
    padding-left: 130px; 
}
h1{
    color: rgb(207, 65, 65);
   padding-left: 110px;
    font-size: 50px;
    font-weight: 500;
  
}
h1:hover{
   text-decoration: underline;
}
h3{
    font-size: 35px;
    padding-top: 40px;
}

h4{
    font-size:17px ;
    color: rgb(58, 54, 54);
}
h4 a{
    color:rgb(207, 65, 65);
}
h4 a:hover{
    text-decoration: none;
}
h4 span{
    color:black;
}


/* img{
    position: relative;
    top:10px;
  width:800px;
  height:440px;
  padding-left: 300px;
} */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    color: rgb(31, 138, 180);
  }
  .made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  .made-with-love a {
    color: rgb(27, 142, 219);
    text-decoration: none;
  }
  .made-with-love a:hover {
    text-decoration: underline;
  }
  
